<!DOCTYPE html>
<html lang="en">
<head>

    <title>IF4001-I-2021-Proyecto-1</title>
    <!--

    Known Template

    https://templatemo.com/tm-516-known

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">

</head>

<!--<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>-->

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand">UCR</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <ul class="nav">
                        <!-- GENERAL VIEW -->
                        <li><a href="#top" id="#top" class="smoothScroll" >Inicio</a></li>
                        <li><a href="#log_in" id="#log_in" class="smoothScroll">Iniciar sesión</a></li>
                        <li><a href="#sign_in_student" id="#sign_in_student" class="smoothScroll">Nuevo estudiante</a></li>

                        <!-- ADMIN VIEW -->
                        <li><a href="#register_professor_course" id="#register_professor_course" onclick="RegisterOnClick()" class="smoothScroll">Agregar</a></li>
                        <li>
                            <a href="#tables" id="#tables" class="smoothScroll">Tablas</a>
                            <ul>
                                <li><a href="#teachers" onclick="TeachersOnClick()">Profesor</a></li>

                                <li><a href="#students" onclick="StudentsOnClick()">Estudiante</a></li>

                                <li><a href="#courses" onclick="CoursesOnClick()">Curso</a></li>
                            </ul>
                        </li>

                        <li><a href="#student_register_requests" id="#student_register_requests" onclick="TemporalStudentsOnClick()" class="smoothScroll">Solicitudes de registro</a></li>

                        <li><a href="#edit_admin_profile" id="#edit_admin_profile" onclick="StudentProfileOnClick()" class="smoothScroll">Editar información personal</a></li>

                        <li><a href="#newNot" id="#newNot" onclick="NewNotOnClick()" class="smoothScroll">Nuevas noticias</a></li>

                        <!-- PROFESSOR VIEW -->
                        <li><a href="#edit_professor_profile" id="#edit_professor_profile" onclick="StudentProfileOnClick()" class="smoothScroll">Editar información personal</a></li>

                        <!-- STUDENT VIEW -->
                        <li><a href="#edit_student_profile" id="#edit_student_profile" onclick="StudentProfileOnClick()" class="smoothScroll">Editar información personal</a></li>

                        <!-- GENERAL VIEW -->
                        <li><a href="#notice" id="#notice" class="smoothScroll">Noticias</a></li>

                    </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-phone"></i> +506 2511 7550</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home">
        <div class="row">

            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Bienvenidos</h1>
                                <h3></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>El recinto cuenta con 2 laboratorios para que los estudiantes lleven a cabo sus laboratorios junto a sus profesores. </h1>
                                <h3></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>El recinto de Paraíso cuenta con una biblioteca donde los estudiante pueden pedir prestada una computadora para hacer trabajos y demás.</h1>
                                <h3></h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-fourth">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>El recinto de Paraíso cuenta con amplias zonas verdes.</h1>
                                <h3> </h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-fifth">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Este será la estructura del próximo edificio del recinto de Paraíso que se encuentra en proceso de construcción.</h1>
                                <h3></h3>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- LOG IN -->
    <section id="log_in">

        <div id="log_in" class="container">
            <div class="row">

                <div class="col-md-4 col-sm-2">

                </div>

                <div class="col-md-4">
                    <div class="feature-thumb">
                        <br><br />
                        <h3>Usuario</h3>
                        <input type="text" id="userName" name="userName" class="form-control" placeholder="Ingrese su Nombre de Usuario" required="required" autocomplete="off">
                        <h3>Contraseña</h3>
                        <input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="Ingrese su Contraseña" required="required" autocomplete="off">
                        <button class="submit-btn form-control" id="btn_Sign" onclick="return LogIn()">Ingresar</button>
                        <label typeof="text" name="informationLogIn" id="informationLogIn" align="center"></label>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">

                </div>

            </div>
        </div>
    </section>

    <!-- SIGN OUT -->
    <section id="sign_out">
        <div id="sign_out_admin" class="container">
            <div class="row">

                <div class="col-md-6 col-sm-4">
                    <div id="UCRLog" height="10">

                    </div>

                </div>

                <div class="col-md-4 col-sm-4">
                    <div id="logFirst" class="feature-thumb">

                        <button class="submit-btn form-control" id="btn-sign_out_admin" onclick="return HideAdmin()">Cerrar sesión</button>

                    </div>
                </div>

            </div>
        </div>

        <div id="sign_out_professor" class="container">
            <div class="row">

                <div class="col-md-6 col-sm-4">
                    <div id="UCRLog" height="10">

                    </div>

                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">

                        <button class="submit-btn form-control" id="btn-sign_out_professor" onclick="return HideProfessor()">Cerrar sesión</button>

                    </div>
                </div>

            </div>
        </div>

        <div id="sign_out_student" class="container">
            <div class="row">

                <div class="col-md-6 col-sm-4">
                    <div id="UCRLog" height="10">

                    </div>

                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">

                        <button class="submit-btn form-control" id="btn-sign_out_student" onclick="return HideStudent()">Cerrar sesión</button>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SIGN STUDENT -->
    <section id="sign_in_student">
        <div id="sign_in_student" class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Registre su nuevo usuario</h2>
                        <label id="message" align="center">Regístrese como estudiante</label>
                        <figure>
                            <span><i class="fa fa-university"></i></span>
                            <figcaption>
                                <h3>Informática Empresarial</h3>
                                <p>La carrera de Informática Empresarial en proceso de acreditación por SINAES.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fas fa-desktop"></i></span>
                            <figcaption>
                                <h3>Perfil Profesional</h3>
                                <p>La formación del informático empresarial se construye a partir de tres áreas de conocimiento: la computación, la informática y la administración, con el apoyo de la matemática, la estadística y la lógica, teniendo como ejes conductores la ética y el humanismo.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form" autocomplete="off">

                        <h2>Nuevo estudiante</h2>
                        <input type="text" id="codeS" name="code" class="form-control" placeholder="Carnet*" autocomplete="off" required>

                        <input type="text" id="nameS" name="name" class="form-control" placeholder="Nombre completo*" autocomplete="off" required>

                        <input type="email" id="emailS" name="email" class="form-control" placeholder="Correo electrónico*" autocomplete="off" required>

                        <input type="password" id="passwordS" name="password" class="form-control" placeholder="Contraseña*" autocomplete="off" required>

                        <input type="password" name="repeatpasswordS" id="repeatpasswordS" class="form-control" placeholder="Digite de nuevo la contraseña*" autocomplete="off" required>

                        <button class="submit-btn form-controlS" onclick="return AddTemporalStudent()" id="btn_sign_in_student">Registrar</button>

                        <label typeof="text" name="information" id="informationSignIn" align="center"></label>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- REGISTER PROFESSOR COURSE -->
    <section id="register_professor_course">
        <!-------------------------------------------------------Professor-->
        <div id="register_professor_course" class="container">
            <div class="row">
                <div id="register_professor" class="col-md-6 col-sm-12">
                    <div class="entry-form">

                        <h2>Nuevo Profesor</h2>
                        <input type="text" name="nameP" id="nameP" class="form-control" placeholder="Nombre del profesor*" required="" autocomplete="off">

                        <input type="text" name="codeP" id="codeP" class="form-control" placeholder="Código profesor*" required="" autocomplete="off">

                        <input type="email" name="emailP" id="emailP" class="form-control" placeholder="Correo electrónico*" required="" autocomplete="off">

                        <select name="AcadGradeP" class="form-control" id="AcadGradeP" required="">
                            <option disabled selected>Grado Académico*</option>

                            <option value="1">Bachillerato</option>

                            <option value="2">Licenciatura</option>

                            <option value="3">Maestría</option>

                        </select>

                        <input type="password" name="passwordP" id="passwordP" class="form-control" placeholder="Contraseña*" required="" autocomplete="off">

                        <input type="password" name="repeatpasswordP" id="repeatpasswordP" class="form-control" placeholder="Digite de nuevo la contraseña" required="" autocomplete="off">

                        <button class="submit-btn form-control" onclick="return AddProfessor()" id="btn_register_professor">Registrar profesor</button>


                    </div>
                </div>
                <!-------------------------------------------------------Course-->
                <div id="register_course" class="container">
                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                        <div class="row">
                            <div class="entry-form">

                                <h2>Nuevo Curso</h2>
                                <input type="text" name="nameC" id="nameC" class="form-control" placeholder="Nombre completo de curso*" autocomplete="off" required>

                                <input type="text" name="codeC" id="codeC" class="form-control" placeholder="Código Curso*" autocomplete="off" required>

                                <input type="text" name="creditC" id="creditsC" class="form-control" placeholder="Créditos*" autocomplete="off" required>

                                <select name="semesterC" class="form-control" id="semesterC" required>
                                    <option disabled selected>Semestre*</option>

                                    <option>1</option>

                                    <option>2</option>

                                    <option>3</option>

                                </select>

                                <select name="yearC" class="form-control" id="yearC" required>
                                    <option disabled selected>Año de carrera*</option>

                                    <option>1</option>

                                    <option>2</option>

                                    <option>3</option>

                                    <option>4</option>

                                </select>

                                <button class="submit-btn form-control" onclick="return AddCourse()" id="btn_register_curse">Registrar curso</button>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- MODAL -->
    <div id="myModalEliminate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Esta seguro de querer eliminar este usuario</p>
                    <label id="idTemp" hidden></label>
                </div>
                <div class="modal-footer">
                    <button type="button" id="acceMod" class="btn btn-default" data-dismiss="modal" onclick="return Remove(" idTemp")">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>


    <!-- TABLES -->
    <section id="tables">
        <div class="container">
            <div class="row">

                <div id="students" class="container">
                    <div class="row">
                        <div class="section-title">
                            <h2>Estudiantes</h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table">

                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>

                                            <th>
                                                Carnet
                                            </th>
                                            <th>
                                                Nombre Completo
                                            </th>
                                            <th>
                                                Correo Electrónico
                                            </th>

                                            <th>
                                                Acción
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyStudent">
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>

                <div id="teachers" class="container">
                    <div class="row">
                        <div class="section-title">
                            <h2>Profesores</h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table">

                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>

                                            <th>
                                                Código Profesor
                                            </th>
                                            <th>
                                                Nombre del Profesor
                                            </th>
                                            <th>
                                                Correo Electrónico
                                            </th>
                                            <th>
                                                Acción
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyProfessor">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="courses" class="container">
                    <div class="row">
                        <div class="section-title">
                            <h2>Cursos</h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="table">

                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>

                                            <th>
                                                Código Curso
                                            </th>
                                            <th>
                                                Nombre Completo de Curso
                                            </th>
                                            <th>
                                                Créditos
                                            </th>
                                            <th>
                                                Semestre
                                            </th>
                                            <th>
                                                Año de Carrera
                                            </th>
                                            <th>
                                                Acción
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyCourse">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- EDIT PROFESSOR STUDENT COURSE -->
    <section id="edit_professor_student_course">

        <!-------------------------------------------------------ProfessorProfile-->
        <div id="edit_professor" class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="entry-form">

                        <h2>Editar Profesor</h2>
                        <input type="text" id="EditnameP" name="EditnameP" class="form-control" placeholder="Nombre del profesor" required="">

                        <input type="text" id="EditcodeP" name="EditcodeP" class="form-control" placeholder="Código profesor" required="">

                        <input type="email" id="EditemailP" name="EditemailP" class="form-control" placeholder="Correo electrónico" required="">


                        <select name="EditAcadGradeP" class="form-control" id="EditAcadGradeP" required="">
                            <option disabled selected>Grado Académico</option>

                            <option>Bachillerato</option>

                            <option>Licenciatura</option>

                            <option>Maestría</option>

                        </select>

                        <input type="password" id="EditpasswordP" name="EditpasswordP" class="form-control" placeholder="Contraseña" required="">

                        <!--   <input type="password" id="repeatpasswordP" name="repeatpasswordP" class="form-control" placeholder="Digite de nuevo la contraseña" required="">-->

                        <button class="submit-btn form-control" id="btn_edit_professor">Aceptar</button>

                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------StudentProfile-->
        <div id="edit_student" class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="entry-form">

                        <h2>Editar Estudiante</h2>
                        <input type="text" id="EditcodeS" name="Editcode" class="form-control" placeholder="Carnet" required="">

                        <input type="text" id="EditnameS" name="Editname" class="form-control" placeholder="Nombre completo" required="">

                        <input type="email" id="EditemailS" name="Editemail" class="form-control" placeholder="Correo electrónico" required="">

                        <input type="password" id="EditpasswordS" name="Editpassword" class="form-control" placeholder="Contraseña" required="">

                        <!--  <input type="password" name="repeatpasswordS" class="form-control" placeholder="Digite de nuevo la contraseña" required="">-->

                        <button class="submit-btn form-controlS" onclick="return Update() " id="btn_edit_student">Aceptar</button>


                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------Course-->
        <div id="edit_course" class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="row">
                    <div class="entry-form">

                        <h2>Editar Curso</h2>
                        <input type="text" name="EditnameC" id="EditnameC" class="form-control" placeholder="Nombre completo de curso" required="">

                        <input type="text" name="EditcodeC" id="EditcodeC" class="form-control" placeholder="Código Curso" required="">

                        <input type="text" name="EditcreditC" id="EditcreditsC" class="form-control" placeholder="Créditos" required="">


                        <select name="EditsemesterC" class="form-control" id="EditsemesterC" required="">
                            <option disabled selected>Semestre</option>

                            <option>1</option>

                            <option>2</option>

                            <option>3</option>

                        </select>

                        <select name="EdityearC" class="form-control" id="EdityearC" required="">
                            <option disabled selected>Año de carrera</option>

                            <option>1</option>

                            <option>2</option>

                            <option>3</option>

                            <option>4</option>

                        </select>
                        <button class="submit-btn form-control" onclick="return " id="btn_edit_curse">Aceptar</button>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- STUDENT REGISTER REQUESTS -->
    <section id="student_register_requests" style="background-color:#c0effd">

        <div id="student_register_requests" class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Solicitudes de estudiantes</h2>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table">

                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>

                                    <th>
                                        Carnet
                                    </th>
                                    <th>
                                        Nombre Completo
                                    </th>
                                    <th>
                                        Correo Electrónico
                                    </th>

                                    <th>
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbodyTemporalStudent">
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>

    </section>

    <!-- EDIT ADMIN PROFILE -->
    <section id="edit_admin_profile">

        <div id="edit_admin_profile" class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="row">
                    <div class="entry-form">

                        <h2>Editar informacion personal</h2>
                        <input type="text" id="codeS" name="code" class="form-control" placeholder="Carnet" required="" autocomplete="off">

                        <input type="text" id="nameS" name="name" class="form-control" placeholder="Nombre completo" required="" autocomplete="off">

                        <input type="email" id="emailS" name="email" class="form-control" placeholder="Correo electrónico" required="" autocomplete="off">

                        <input type="password" id="passwordS" name="password" class="form-control" placeholder="Contraseña" required="" autocomplete="off">

                        <input type="password" name="repeatpasswordS" id="repeatpasswordS" class="form-control" placeholder="Digite de nuevo la contraseña" required="" autocomplete="off">

                        <button class="submit-btn form-controlS" id="btn_register_admin" onclick="return ">Editar</button>

                    </div>

                </div>

            </div>
        </div>

    </section>

    <!-- EDIT PROFESSOR PROFILE -->
    <section id="edit_professor_profile">

        <div id="edit_professor_profile" class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="row">
                    <div class="entry-form">

                        <h2>Editar informacion personal</h2>
                        <input type="text" id="codeS" name="code" class="form-control" placeholder="Carnet" required="" autocomplete="off">

                        <input type="text" id="nameS" name="name" class="form-control" placeholder="Nombre completo" required="" autocomplete="off">

                        <input type="email" id="emailS" name="email" class="form-control" placeholder="Correo electrónico" required="" autocomplete="off">

                        <input type="password" id="passwordS" name="password" class="form-control" placeholder="Contraseña" required="" autocomplete="off">

                        <input type="password" name="repeatpasswordS" id="repeatpasswordS" class="form-control" placeholder="Digite de nuevo la contraseña" required="" autocomplete="off">

                        <button class="submit-btn form-controlS" onclick="return " id="btn_register_professor">Editar</button>

                    </div>

                </div>

            </div>
        </div>

    </section>



    <!-- EDIT STUDENT PROFILE -->
    <section id="edit_student_profile">

        <div id="edit_student_profile" class="container">
            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="row">
                    <div class="entry-form">

                        <h2>Editar informacion personal</h2>
                        <input type="text" id="codeS" name="code" class="form-control" placeholder="Carnet" required="" autocomplete="off">

                        <input type="text" id="nameS" name="name" class="form-control" placeholder="Nombre completo" required="" autocomplete="off">

                        <input type="email" id="emailS" name="email" class="form-control" placeholder="Correo electrónico" required="" autocomplete="off">

                        <input type="password" id="passwordS" name="password" class="form-control" placeholder="Contraseña" required="" autocomplete="off">

                        <input type="password" name="repeatpasswordS" id="repeatpasswordS" class="form-control" placeholder="Digite de nuevo la contraseña" required="" autocomplete="off">

                        <button class="submit-btn form-controlS" onclick="return " id="btn_sign_in_student">Editar</button>

                    </div>

                </div>

            </div>
        </div>

    </section>

    <!-- NEW NOTICE -->
    <section id="newNot" style="background-color:#c0effd">

        <div id="divcommentary" class="container">
            <div class="row">
                <input type="text" id="title" name="title" class="form-control" placeholder="Título de comentario" autocomplete="off">
            </div>
            <div class="row">
                <input type="text" id="commentary" name="commentary" class="form-control" placeholder="Comentario" autocomplete="off">
            </div>
            <div class="row">

                <div id="divFileUpload">
                    <table class="default">
                        <tr>
                            <td>
                                <span><i class="fa fa-picture-o fa-2x fa-lg"></i></span>
                            </td>
                            <td><input type="file" onchange="PreviewFile()"> </td>
                        </tr>
                    </table>
                    <img src="" height="200" id="image" alt="Image preview...">
                </div>
                <br />
                <!--<a href="#"  class="navbar-brand"><span><i class="fa fa-files-o fa-2x fa-lg"></i></span></a>      -->
            </div>

            <div class="">
                <table class="default">

                    <tr>

                        <td><button class="submit-btn form-control" onclick="" id="Send">Enviar comentario</button></td>

                        <td><button class="submit-btn form-control" onclick="" id="cancel">Cancelar</button></td>
                    </tr>
                </table>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </section>


    <section id="Newconsult">

        <div id="divcommentary" class="container">
            <div class="row">
                <select name="Consult_curse" class="form-control" id="Consult_curse" required="">
                    <option disabled selected>Escoja el curso</option>

                    <option>Logica</option>

                    <option>Bases</option>

                    <option>Lenguajes</option>

                </select>
                <br />
                <select name="Consult_professor" class="form-control" id="Consult_professor" required="">
                    <option disabled selected>Escoja el profesor</option>

                    <option>Esteban</option>

                    <option>Jose Luis</option>

                </select>
                <br />
                <select name="Consult_schedule" class="form-control" id="Consult_schedule" required="">
                    <option disabled selected>Escoja el horario</option>

                    <option>12:30</option>

                    <option>1:00</option>

                </select>
                <br />
                <br />
            </div>

            <div class="">
                <table class="default">

                    <tr>

                        <td><button class="submit-btn form-control" onclick="" id="Send">Enviar Consulta</button></td>

                        <td><button class="submit-btn form-control" onclick="" id="cancel">Cancelar</button></td>
                    </tr>
                </table>

            </div>

        </div>
    </section>

    <section id="active_consult">

        <div id="consults" class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Consultas activas</h2>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table">

                            <thead>
                                <tr>
                                    <th>
                                        Grupo
                                    </th>

                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Profesor
                                    </th>
                                    <th>
                                        Hora
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbodyStudent">
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </section>>


    <!-- NOTICE -->
    <section id="notice">
        <div id="divNot">¡Hola mundo!</div>
        <div id="divNot">Hello world!</div>
        <div id="divNot">Ciao mondo!</div>
        <div id="divNot">Привет мир!</div>
        <div id="divNot">Hallo wereld!</div>
    </section>


    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Dirección Recinto de Paraíso</h2>
                        </div>
                        <address>
                            <p> 224, Provincia de Cartago, Paraíso</p>
                        </address>
                        <br />
                        <h2>Nuestras redes sociales</h2>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/UniversidadCostaRica" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="https://twitter.com/UniversidadCR" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/universidaddecostarica/" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.youtube.com/user/UniversidadDeCR" class="fa fa-youtube-play"></a></li>
                        </ul>

                        <!--  <div class="copyright-text">
                            <p>Copyright &copy; 2019 Company Name</p>

                            <p>Design: TemplateMo</p>
                        </div>-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Contáctenos</h2>
                        </div>
                        <address>
                            <p>+506  2511 7550</p>
                        </address>

                        <div class="footer_menu">
                            <h2>Links de información</h2>
                            <ul>
                                <li><a href="https://www.ucr.ac.cr/">UCR</a></li>
                                <li><a href="https://becas.ucr.ac.cr/">OBAS</a></li>
                                <li><a href="https://oaf.ucr.ac.cr/">OAF</a></li>
                                <li><a href="http://feucr.ucr.ac.cr/defensoria-estudiantil">FEUR</a></li>
                                <li><a href="https://ori.ucr.ac.cr/">ORI</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!--    <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                        <div class="section-title">
                            <h2>Newsletter Signup</h2>
                        </div>
                        <div>
                            <div class="form-group">
                                <form action="#" method="get">
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                    <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                </form>
                                <span><sup>*</sup> Please note - we do not spam your email.</span>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/site.js"></script>
    <!-- <script src="js/student_site.js"></script>
    <script src="js/course_site.js"></script>-->

</body>
</html>